.create-job-form {
    width: 500px;
    height: fit-content;
    padding: 30px 50px 50px 50px;
    background-color: #FFFFFF;
    border-radius: 20px;
    z-index: 200;
    position: sticky;
    top: 50px;
}

.offer_job_text {
    padding-bottom: 20px;
}

.create-job-form h2 {
    font-family: "Manrope", sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #566A7F;
    margin: 0;
    padding: 0 0 10px 0;
}

.create-job-form span {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #566A7F;
}

.create-job-form textarea {
    width: 478px;
    height: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #D3D3FF;
    font-family: "Manrope", sans-serif;
    font-size: 14.67px;
    color: #AAB4BF;
    margin-bottom: 20px;
    resize: none;
    transition: border-color 0.3s ease;
}

.create-job-form textarea:focus {
    border-color: #696CFF;
    outline: none;
}

.cancel-job-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.cancel-job-form img:hover {
    cursor: pointer;
}

.text_area_description {
    position: relative;
}

.text_area_description label {
    position: absolute;
    top: 10px;
    padding: 0 5px;
    font-size: 15px;
    color: #696CFF;
}

.text_area_description textarea {
    margin-top: 40px;
}


.category-selection-input select {
    margin-left: 10px;
    border-color: white;
    font-family: "Manrope", sans-serif;
    font-size: 14.67px;
    font-weight: 500;
    color: #566A7F;
    padding: 10px 0px 20px 0px;
}

.category-selection-input label {
    font-family: "Manrope", sans-serif;
    font-size: 14.67px;
    font-weight: 500;
    color: #566A7F;
}

.skill-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    z-index: 5;
    width: 100%;
}

.skill-section .input-container {
    margin: 0;
}

.skill-section .input-container input {
    width: 300px;
}

.skill-section button {
    margin: 0;
}

.skills-display {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    z-index: 5;
}

.skills-display p {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    height: 20px;
    color: black;
    margin-right: 10px;
}

.skills-display button {
    margin: 0 5px;
    padding: 0px 3px;
    border-radius: 5px;
    border-color: gray;
}