.companies-container {
    width: screen;
    margin: 100px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.companies-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.companies-logo-top,
.companies-logo-bottom {
    width: 100%;
    margin: 40px;
    max-width: 1600px;
    min-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6em;
}

.companies-logo div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.companies-logo-top,
.companies-logo-bottom svg {
    height: 40px;
}

.companies-container p {
    margin: 0;
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
    text-align: center;
    line-height: 38.4px;
    color: #232323;
    opacity: 0.8;
}


@media screen and (max-width: 700px) {


    .companies-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .companies-logo {
        margin: 20px;
        width: screen;
        display: flex;
        flex-direction: row;
    }

    .companies-logo-top,
    .companies-logo-bottom {
        width: 180px;
        margin: 0;
        max-width: 350px;
        min-width: 100px;
        display: flex;
        flex-direction: column;
    }

    .companies-logo-top,
    .companies-logo-bottom div {
        padding-top: 10px;
        padding-bottom: 20px;
    }

.companies-container p {
        padding-top: 0;
        text-align: center;
        font-size: 16px;
        line-height: 25.6px;
    }

}