.companies-container {
    margin: 100px 80px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.companies-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 900px;
    width: 100%;
}

.companies-logo-row {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 4em;
    max-width: 100%;
}

.companies-logo-row div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 60px;
}

.companies-container p {
    margin-top: 30px;
    font-size: 24px;
    line-height: 38.4px;
    background: radial-gradient(91.58% 100% at 50% 50%, #232323 0%, rgba(35, 35, 35, 0.3) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .companies-container {
        margin: 50px 20px;
    }

    .companies-logo {
        gap: 20px;
        max-width: 100%;
    }
    
    .companies-logo-row {
        justify-content: center;
        gap: 16px;
        display: flex;
        flex-wrap: wrap;
    }

    .companies-logo-row div {
        width: 120px;
        height: 40px;
    }

    .companies-container p {
        font-size: 16px;
        line-height: 24px;
        margin-top: 20px;
    }
}
