main{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
} 

.home-bottom {
    font-family: "Inter";
    margin: 40px 100px 80px 100px;
}

.home-bottom span {
    padding: 20px;
    font-weight: 500;
    font-size: 40px;
}

.home-bottom span strong {
    font-weight: 700;
    color: #696CFF;
}

.bottom-image {
    position: relative;
    margin-top: 40px;
    padding: 20px;
    border: 5px solid rgba(105, 108, 255, 1);
    border-radius: 60px;
}

.bottom-image img {
    width: 100%;
    height: auto;
    bottom: 0px;
}

.decoration img {
    width: 45%;
    position: absolute;
    top: -21%;
    right: 20px;
}

@media screen and (max-width: 700px) {
    
.home-bottom {
    font-family: "Inter";
    margin: 20px 0px 20px 0px;
}

.home-bottom span {
    padding: 20px;
    width: 170px;
    font-size: 23px;
    line-height: 30px;
}

.home-bottom span strong {
    padding: 0px;
}

.bottom-image {
    position: relative;
    margin-top: 40px;
    padding: 5px;
    border: 2px solid rgba(105, 108, 255, 1);
    border-radius: 6%;
}

.bottom-image img {
    width: 100%;
    height: auto;
    bottom: 0px;
}

.decoration img {
    width: 45%;
    position: absolute;
    top: -21%;
    right: 20px;
}

}