main{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
} 

.home-bottom {
    font-family: "Inter";
    margin: 40px 100px 80px 100px;
}

.home-bottom span {
    padding: 20px;
    font-weight: 500;
    font-size: 40px;
}

.home-bottom span strong {
    font-weight: 700;
    color: #696CFF;
}

.bottom-image {
    position: relative;
    margin-top: 40px;
    padding: 20px;
    border: 5px solid #696CFF;
    border-radius: 60px;
}

.bottom-image img {
    width: 100%;
    height: auto;
    bottom: 0px;
}

.decoration img {
    width: 48%;
    position: absolute;
    top: -24%;
    right: 20px;
}

@media screen and (max-width: 700px) {
    
.home-bottom {
    margin: 20px 0px 20px 0px;
}

.home-bottom span {
    padding: 0px 0px 0px 20px;
    width: 180px;
    font-size: 23px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
}

.home-bottom span strong {
    padding-left: 5px;
}

.bottom-image {
    position: relative;
    top: -25px;
    width: 100%;
    padding: 0px;
    border: 2px solid #696CFF;
    border-radius: 6%;
}

.bottom-image img {
    width: 100%;
    height: auto;
    bottom: 0px;
}

.decoration img {
    width: 45%;
    position: absolute;
    top: -20.5%;
    right: 10px;
}

}
