footer {
    width: screen;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232323;
    color: rgba(255, 255, 255, 0.75);
    line-height: 24px;
    padding: 100px;
    font-family: "Inter";
}

footer h4 {
    margin: 0;
    padding: 0.5em;
    font-size: 18px;
}

footer p,
a {
    margin: 0;
    padding: 0.5em;
    font-size: 16px;
    font-weight: 400;
}

.footer-container {
    width: 100%;
    gap: 100px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}

.footer-logo {
    width: 310px;
    font-size: 16px;
}

.footer-logo p {
    padding-top: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 0;
    padding-left: 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2px;
}

.footer-links p:hover {
    opacity: 0.7;
    cursor: pointer;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.footer-social h4 {
    padding: 0.5em 0 0 0;
    margin: 0
}

.social-icons {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
}

.social-icons a {
    margin: 0;
    width: 2.1em;
    padding: 0.5em 1em 0.5em 0;
}

footer hr {
    width: 100%;
    margin: 10px 0;
    border: none;
    color: inherit;
    border-bottom: 1px solid;
}

.footer-bottom {
    width: 100%;
}

@media screen and (max-width: 700px) {
    footer {
        width: screen;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 40px 100px 40px;
    }

    footer h4 {
        cursor: default;
        margin: 0;
        padding: 0.5em;
        font-size: 16px;
    }

    footer p, a {
        cursor: default;
        margin: 0;
        padding: 0.5em;
        font-size: 16px;
        font-weight: 400;
    }

    .footer-container {
        gap: 0px;
        flex-direction: column;
    }

    .footer-logo {
        font-family: "Inter";
        width: 310px;
        font-size: 16px;
    }

    .footer-logo p {
        padding-top: 24px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 0;
        padding-left: 0;
    }

    .footer-links {
        display: none;
    }

    .footer-contact {
        display: none;
    }

    .footer-social {
        flex-direction: row;
        align-items: center;
        gap: 18px;
    }

}