header {
    width: screen;
    padding: 32px 100px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul :hover {
    opacity: 0.7;
    cursor: pointer;
}

nav ul {
    gap:38px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.02em;
    list-style-type:none
}

.header-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.header-login a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.02em;
}


/* header {
    width: screen;
    padding: 32px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

li a {
    color: inherit;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.02em;
    list-style-type:none
}

.header-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.header-login a {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.02em
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
} */

/* @media screen and (max-width: 700px) {


header {
    padding: 16px 20px;
    flex-direction: column;
    align-items: flex-start;
}

.menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 16px;
    right: 20px;
}

nav {
    display: none;
    width: 100%;
    flex-direction: column;
}

nav.open {
    display: flex;
}

ul {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-items: flex-start;
}

.header-login {
    flex-direction: column;
    gap: 12px;
    width: 100%;
    align-items: flex-start;
    margin-top: 16px;
}
} */

